<app-breadcrumb [title]="'Blog No Sidebar'" [breadcrumb]="'Blog No Sidebar'"></app-breadcrumb>
<!-- section start -->
<section class="section-b-space  blog-page">
    <div class="container">
        <div class="row">
            <!--Blog List start-->
            <div class="col-xl-12 col-lg-8 col-md-7 " *ngFor="let discussion of discussions">
                <div class="row blog-media">
                    <!-- <div class="col-xl-6">
                        <div class="blog-left">
                            <a [routerLink]="'/pages/blog/details'"><img src="assets/images/blog/1.jpg" class="img-fluid" alt=""/></a>
                        </div>
                    </div> -->
                    <div class="col-xl-6">
                        <div class="blog-right">
                            <div>
                                <h6>{{discussion.createdAt}}</h6>
                                <a (click)="selectSubject(discussion)" [routerLink]="'/pages/blog/details'"><h4>{{discussion.subject}}</h4></a>
                                <ul class="post-social">
                                    <li>Poster Par : {{discussion.postedBy}} </li>
                                    <!-- <li><i class="fa fa-heart"></i>  5 Hits  </li> -->
                                    <li><i class="fa fa-comments"></i> {{discussion.comments.length}} Commentaires</li>
                                </ul>
                                <p>{{discussion.content}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <hr>
            </div>
            <!--Blog List start-->
        </div>
        <div class="row blog-contact">
            <div class="col-sm-12">
                <h2>Poster un sujet</h2>
                <form class="theme-form">
                    <div class="form-row">
                        <div class="col-md-12">
                            <label for="name">Name</label>
                            <input type="text" [(ngModel)]="message.postedBy" name="postedBy" class="form-control" id="name" placeholder="Enter Your name" required="">
                        </div>
                        <div class="col-md-12">
                            <label for="titre">Titre</label>
                            <input type="text" [(ngModel)]="message.subject" name="subject" class="form-control" id="titre" placeholder="Titre" required="">
                        </div>
                        <div class="col-md-12">
                            <label for="exampleFormControlTextarea1">Contenu</label>
                            <textarea class="form-control" [(ngModel)]="message.content" name="content" placeholder="Votre sujet" id="exampleFormControlTextarea1" rows="6"></textarea>
                        </div>
                        <div class="col-md-12" style="margin-top: 2%">
                            <button (click)="submit()" class="btn btn-solid" type="submit">Poster</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->