<app-breadcrumb [title]="'Blog Details'" [breadcrumb]="'Blog Details'"></app-breadcrumb>
<!--section start-->
<section class="blog-detail-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 blog-detail">
                <!-- <img src="assets/images/about-main.jpg" class="img-fluid" alt=""/> -->
                <h3>{{discussion.subject}}</h3>
                <ul class="post-social">
                    <li>{{discussion.createdAt}}  </li>
                    <li>Poster Par : {{discussion.postedBy}} </li>
                    <!-- <li><i class="fa fa-heart"></i>  5 Hits  </li> -->
                    <li><i class="fa fa-comments"></i> {{discussion.comments?.length}}</li>
                </ul>
                <p>{{discussion.content}}</p>
                </div>
        </div>
        
        <div class="row section-b-space">
            <div class="col-sm-12">
                <ul class="comment-section">
                    <li *ngFor="let comment of discussion.comments || []" class="col-sm-12">
                        <div class="media">
                            <!-- <img src="assets/images/review/1.jpg" alt="Generic placeholder image"> -->
                            <div class="media-body">
                                <h6>{{comment.postedBy}} <span>( {{comment.createdAt}})</span></h6>
                                <p>{{comment.content}}</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row blog-contact">
            <div class="col-sm-12">
                <h2>Laisser Un Commentaire</h2>
                <form class="theme-form">
                    <div class="form-row">
                        <div class="col-md-12">
                            <label for="name">Name</label>
                            <input [(ngModel)]="message.postedBy" name="postedBy" type="text" class="form-control" id="name" placeholder="Enter Your name" required="">
                        </div>
                        <div class="col-md-12">
                            <label for="exampleFormControlTextarea1">Commentaire</label>
                            <textarea [(ngModel)]="message.content" name="content" class="form-control" placeholder="Write Your Comment" id="exampleFormControlTextarea1" rows="6"></textarea>
                        </div>
                        <div class="col-md-12">
                            <button (click)="submit()" class="btn btn-solid" type="submit">Envoyer</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->